*ReSharper*
bin
obj
*/bin/*
*.suo
*.user
_output
*.suo

.DS_Store

*.userprefs

*.userprefs

*.userprefs
PerfLogs

Zero.Games.Engine/Zero.Games.Engine.userprefs

Zero.Games.Engine/Zero.Games.Engine.userprefs
